{% extends "base.html" %}
{% block title %}من نحن{% endblock %}
{% block content %}

<section class="cards">
    <div class="card">
        <h3>من نحن</h3>
        <p>نحن تجمع من المواطنين، الأكاديميين، والناشطين المستقلين الذين
يؤمنون بأن السياسة حق للجميع وليست حكراً على النخب. نحن هيئة
رقابية شعبية تطوعية تعمل ك "مرآة" للبرلمان الرسمي، نراقب الأداء،
ونقترح الحلول، وننقل نبض الشارع بمهنية وتجرد.
الهدف
يسعى التجمع إلى تحقيق مجموعة من الغايات الاستراتيجية:
* الرقابة الشعبية: متابعة أداء الحكومة والبرلمان وتقييم مدى التزامهم
بالوعود الانتخابية.
* التثقيف السياسي: رفع وعي المواطن بحقوقه الدستورية وكيفية
المشاركة في صنع القرار.
* تقديم البدائل: إعداد مسودات قوانين ودراسات واقعية تعكس
احتياجات المجتمع الفعلية.
* سد الفجوة: تقليل المسافة بين المواطن البسيط وصناع القرار عبر خلق
قنوات اتصال مباشرة'</p>
    </div>
</section>
{% endblock %}
