{% extends "base.html" %}
{% block title %}برلمان الظل{% endblock %}
{% block content %}
<section class="cards">
    <div class="card">
    </h3> برلمان الظل </h3>
        <p>"يسعى برلمان الظل الجماهيري الاستشاري إلى تفعيل الدور الرقابي
الشعبي بأسلوب علمي ومنهجي، من خلال تقديم استشارات وحلول
مبتكرة لصناع القرار، وضمان صياغة سياسات وطنية متوازنة تعبر عن
تطلعات المواطنين وتخدم الصالح العام.
* الاستنارة: تغليب الدليل العلمي والحلول الإبداعية (رمز المصباح).
* التوازن: الحفاظ على الحيادية والعدالة في تقييم القضايا (رمز
الميزان).
* الشفافية: العمل في وضح النهار وكشف الحقائق بوضوح (رمز
تسليط الضوء).
* التكامل: العمل كمرآة عاكسة ومكملة للمؤسسات الرسمية (رمز مبنى
البرلمان وظله).
الأهداف الاستراتيجية
* تمكين الصوت الشعبي: تحويل نبض الشارع إلى مقترحات قانونية
وعملية رصينة (القلم).
* دعم صناعة القرار: تزويد البرلمان الرسمي بدراسات واستشارات
محايدة تقلل من فجوة الأداء.
* الرقابة البناءة: مراقبة الأداء الحكومي والبرلماني وتقديم بدائل جاهزة
للتنفيذ</p>
    </div>
</section>
{% endblock %}
